<!DOCTYPE html>
<html>
<head>
    <title>View All Feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        
        <h1>View All Feedback</h1>

       <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Rating</th>
            <th>Message</th>
        </tr>
      

            {% for rows in feedback %}
          <tr>

            
            <td>{{ rows[1] }}</td>
            <td>{{ rows[2] }}</td>
            <td>{{ rows[3] }}</td>
            <td>{{ rows[4] }}</td>
          </tr>

            {% endfor %}
       </table>

       <a href="{{ url_for('home') }}" class="view-btn">Back to Home</a>
    </div>
</body>
</html>